  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

body {
    font-family: 'Raleway';

    margin: auto;

    width: 920px;

    display: flex;
    flex-direction: column;
}

.header {
    padding: 16px;

    display: flex;
    align-items: flex-end;


    background: #c80000;
    color: #fff;
    font-weight: 700;
}

.header h1 {
    font-size: xx-large;
}

.header p {
padding: 0 8px;

    font-size: small;
}

.navbar {
    padding: 8px 0;

    background: #666;
    color: #fff;
    text-align: center;
}

.navbar h2 span{
    font-style: italic;
    font-size: large;
}

main {
    margin: 24px 64px;

    min-height: 100%;

    display: flex ;
    justify-content: center;
    gap: 8px 16px;

    flex-flow: row wrap;
}

figure {
    padding: 4px;
    border: 2px solid #ccc;
    max-width: 250px;
    
}

article img {
    max-width: 230px;
}

article figcaption {
    padding: 12px 0 4px;

    color: #ccc;
    font-size: x-small;
    font-weight: 900;
    text-shadow: 1px 0 #ccc, 0 1px #ccc, 1px 1px #ccc;
    text-transform: uppercase;
}

article h3 {
    border-top: 1px solid #ccc;
    padding: 8px 0;

    font-size: large;
    text-shadow: 1px 0 #000, 0 1px #000, 1px 1px #000;
    letter-spacing: 1px;
}

article p {
    font-size: small;
}

.solde {
    background: #c80000;
    color: #fff;

    margin-top: 16px;
    padding: 16px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.solde h4 {
    font-weight: 700;
}

.solde h4 span{
    text-decoration: line-through;
    font-weight: 300;
    font-size: small;
}

article.order1 {
    order: -4;
}

article.order2 {
    order: -3;
}

article.order3 {
    order: -2;
}

article.order4 {
    order: -1;
}

.copyright {
    margin-bottom: 2px;
    padding: 16px;

    background: #666;
    color: #fff;
    font-size: small;
    text-align: center;
}
