  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

* {
    margin: 0;
}

body {
    font-family: 'Raleway';
}

.header {
    padding: 16px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;


    background: #c80000;
    color: #fff;
    font-weight: 700;
}

.header h1 {
    font-size: xx-large;
}

.header p {
padding: 0 8px;

    font-size: small;
}

.navbar {
    padding: 16px 0 8px;

    background: #666;
    color: #fff;
    text-align: center;
}

.navbar h2 {
    font-size: small;
}

.navbar h2 span{
    font-style: italic;
    font-size: large;
}
