:root {
  --color: #000;
  --color-primary: #c80000;
  --color-secondary: #666;
  --color-light: #dadada;

  --color-darkest: #111;
  --color-lightest: #fff;

  --font-sans: 'Raleway', sans-serif;

  --gutter: 0.8rem;
}

html {
  font-size: 62.5%;
}

.shop {
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shop-header {
  background: var(--color-primary);
  color: var(--color-lightest);
  padding: calc(var(--gutter) * 2);
  font-weight: 700;
}

.shop-header__subtitle {
  font-size: 1.2rem;
}

.shop-header__title {
  font-size: 2.4rem;
  padding: calc(var(--gutter) * 3);
}

.shop-main {
  flex-grow: 1;
}

.shop-main__title {
  font-size: 1.2rem;
  padding: calc(var(--gutter) * 3);
}

.shop-main__subtitle {
  font-style: italic;
  font-size: 1.6rem;
  font-weight: 300;
}

.shop-credits,
.shop-main__title {
  background: var(--color-secondary);
  color: var(--color-lightest);
  margin-bottom: 0;
  padding: var(--gutter);
  text-align: center;
}
