:root {
  --color: #000;
  --color-primary: #c80000;
  --color-secondary: #666;
  --color-light: #dadada;

  --color-darkest: #111;
  --color-lightest: #fff;

  --font-sans: 'Raleway', sans-serif;

  --gutter: 0.8rem;
}

html {
  font-size: 62.5%;
}

.shop {
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shop-header {
  background: var(--color-primary);
  color: var(--color-lightest);
  padding: calc(var(--gutter) * 2);
  font-weight: 700;
}

.shop-header__subtitle {
  font-size: 1.2rem;
}

.shop-header__title {
  font-size: 2.4rem;
  padding: calc(var(--gutter) * 3);
}

.shop-main {
  flex-grow: 1;
}

.shop-main__title {
  font-size: 1.2rem;
  padding: calc(var(--gutter) * 3);
  font-weight: 300;
}

.shop-main__subtitle {
  font-style: italic;
  font-size: 1.6rem;
}

.shop-main__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: calc(var(--gutter) * 2) auto;
  row-gap: calc(var(--gutter) * 4);
  width: 90vw;
}

.card {
  border: 1px solid var(--color-light);
  display: block;
  padding: var(--gutter);
  overflow: hidden;
  width: 30%;
}

.card__header {
  display: flex;
  flex-direction: column;
}

.card__title {
  border-top: 1px solid var(--color-secondary);
  font-size: 2.4rem;
  font-weight: 700;
  order: 1;
  padding: var(--gutter) 0;
}

.card__description {
  font-size: 1.4rem;
  padding-bottom: calc(var(--gutter) * 2);
}

.card__tag {
  color: var(--color-secondary);
  font-weight: 700;
  padding: calc(var(--gutter) / 2);
  text-transform: uppercase;
}

.card__add-to-bag {
  align-items: center;
  background: var(--color-primary);
  color: var(--color-lightest);
  display: flex;
  justify-content: space-between;
  padding: var(--gutter);
  text-decoration: none;
}

.card__price {
  font-size: 1.8rem;
  font-weight: 700;
  padding: var(--gutter);
}

.card__price--strike {
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: line-through;
}

.shop-credits,
.shop-main__title {
  background: var(--color-secondary);
  color: var(--color-lightest);
  margin-bottom: 0;
  padding: var(--gutter);
  text-align: center;
}
